<!-- Contact Form Start -->
<div class="container-contact100 " style="padding-top: 150px;">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" [formGroup]="mailAddForm">
            <span class="contact100-form-title">
					{{"Send Us A Message" | translate}}
				</span>

            <label class="label-input100" for="first-name">{{"TELL US YOUR NAME" | translate}} *</label>
            <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
                <input formControlName="firstName" id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
                <input formControlName="lastName" class="input100" type="text" name="last-name" placeholder="Last name">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="email">{{"ENTER YOUR EMAIL" | translate}} *</label>
            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input formControlName="emailAddress" id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="phone">{{"ENTER PHONE NUMBER" | translate}}</label>
            <div class="wrap-input100">
                <input formControlName="phone" id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
                <span class="focus-input100"></span>
            </div>

            <label class="label-input100" for="message">{{"MESSAGE" | translate}} *</label>
            <div class="wrap-input100 validate-input" data-validate="Message is required">
                <textarea formControlName="message" id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button (click)="mailAdd()" class="contact100-form-btn">
                  {{"SEND" | translate}}
					</button>
            </div>
        </form>

        <div class="contact100-more flex-col-c-m" style="background-image: url('assets/IMAGES/contact-img/bg-01.jpg');">
            <div class="flex-w size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-map-marker"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							{{"Address" | translate}}
						</span>

                    <span class="txt2">
							Pendik / İstanbul / Yenişehir mahallesi / Sümbül Sokak A blok / No: 6/1 Ofis : 18
						</span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-phone-handset"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							{{"Lets Talk" | translate}}
						</span>

                    <span class="txt3">
							90 532 606 00 53
						</span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-envelope"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
							{{"General Support" | translate}}
						</span>

                    <span class="txt3">
							 info@evorapaint.com
						</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form End -->
<br><br><br>
