<!-- Footer Start-->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-5">

        <!-- Section: Social media -->
        <section class="mb-5 social-icon">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i
        ></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i
        ></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i
        ></a>

            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i
        ></a>
        </section>
        <!-- Section: Social media -->


        <!-- Section: Text -->
        <section class="mb-5">
            <p>
              {{"Technology and reliability are very important to us. We are taking the evora paint brand to the top of the sector with our strategic investments." | translate}}
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{{"Corporate" | translate}}</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="/about-us" class="text-white">{{"About Us" | translate}}</a>
                        </li>
                        <li>
                          <a routerLink="/sustainability" class="text-white">{{"Sustainability" | translate}}</a>
                        </li>
                        <li>
                          <a routerLink="/kvkk" class="text-white">{{"PDPL" | translate}}</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{{"Our Product Categories" | translate}}</h5>

                    <ul class="list-unstyled mb-0">
                        <li *ngFor="let category of categories">
                            <a href="#astar" class="text-white">{{category.name}}</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">{{"Menu" | translate}}</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a routerLink="" class="text-white">{{"HomePage" | translate}}</a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="text-white">{{"Contact" | translate}}</a>
                        </li>
                        <li>
                            <a routerLink="/about-us" class="text-white">{{"About Us" | translate}}</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Rıdvan Akyıl
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer End-->





