<!-- Sponsor Section Start -->

<div class="container sponsor-section">
    <owl-carousel-o [options]="owlOptions_sponsor">
        <ng-template carouselSlide>
            <div class="item">
                <img src="assets/IMAGES/sponsor-img/sponsor-1.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item">
                <img src="assets/IMAGES/sponsor-img/sponsor-2.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item">
                <img src="assets/IMAGES/sponsor-img/sponsor-3.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item">
                <img src="assets/IMAGES/sponsor-img/sponsor-4.png" alt="">
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="item">
                <img src="assets/IMAGES/sponsor-img/sponsor-5.png" alt="">
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<!-- Sponsor Section End -->