<!-- Blog Section Start -->
<h1 style="text-align: center;">Bu Hafta En Çok Satanlar</h1>

<div class="blog">
    <div class="container p-0">
        <div class="row " data-aos="fade-up">
              <div class="col-md-6 p-0 img-section">
                <img src="assets/IMAGES/blog-img/enzo-tommasi-wlxJ4idMTUk-unsplash.jpg" alt="">
            </div>
              <div class="col-md-6 p-0 content-section">
                <div class=" title-blog">
                  <div></div>
                  <span>Design</span>
                </div>
                <br>
                <p>
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus delectus inventore minima explicabo veniam deleniti iure eius deserunt, tenetur voluptates?</span>
                  <br><br>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia perferendis assumenda ut soluta esse, fuga officia quo ipsa</span>
                  <br><br>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia perferendis assumenda ut soluta esse, fuga officia quo ipsa</span>
                </p>
              </div>
        </div>

        <div class="row">
            <div class="col-md-6 p-0 content-section blog-content-right blog-3">
                <div class="title-blog">
                    <div></div>
                    <span>Design</span>
                </div>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quo deleniti quos impedit repudiandae quasi ullam, dicta tempora iusto, quam, atque laboriosam assumenda ad veritatis deserunt laudantium ducimus accusamus officiis?</p>
            </div>
            <div class="col-md-6 p-0 img-section blog-4">
                <img src="assets/IMAGES/product_img/img_6.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 p-0 img-section blog-5">
                <img src="assets/IMAGES/blog-img/jon-tyson-dTv3VwTvT0c-unsplash.jpg" alt="">
            </div>
            <div class="col-md-6 p-0 content-section blog-6">
                <div class="title-blog">
                    <div></div>
                    <span>Design</span>
                </div>
                <br>
                <p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus delectus inventore minima explicabo veniam deleniti iure eius deserunt, tenetur voluptates?</span>
                    <br><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia perferendis assumenda ut soluta esse, fuga officia quo ipsa</span>
                    <br><br>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. In mollitia perferendis assumenda ut soluta esse, fuga officia quo ipsa</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 p-0 content-section blog-content-right blog-7">
                <div class="title-blog">
                    <div></div>
                    <span>Design</span>
                </div>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quo deleniti quos impedit repudiandae quasi ullam, dicta tempora iusto, quam, atque laboriosam assumenda ad veritatis deserunt laudantium ducimus accusamus officiis?</p>
            </div>
            <div class="col-md-6 p-0 img-section blog-8">
                <img src="assets/IMAGES/product_img/img_6.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->

