<br><br><br><br><br><br>
<!-- Images Add Start -->
<div class="row">
  <div class="d-flex justify-content-center">
    <h4 style="margin-bottom: 20px">Resim Ekle</h4>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
    <form [formGroup]="imageFormProduct">
      <div class="mb-3">
        <input type="number" class="form-control visually-hidden" aria-describedby="basic-addon1" formControlName="productId" />

        <label for="formFileMultiple" class="form-label">Ürününüz için birden fazla resim seçebilirsiniz...</label>

        <input class="form-control" type="file" id="formFileMultiple" formControlName="image" multiple (change)="onFileChange($event)" />

        <input class="form-control visually-hidden" type="text" id="formFileMultiple" formControlName="fileSource" multiple />
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-center">
    <div class="row" style="margin-left: 0.5px; margin-right: 0.5px">
      <button class="btn btn-primary" (click)="add()">Ekle</button>
    </div>
    <div *ngIf="isAdded" class="alert alert-success" role="alert">
      {{ message }}
    </div>
  </div>
</div>
<!-- Images Add End -->
<br><br><br><br>
